body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
}

input, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background-color: green;
    color: white;
    border: none;
}
